CSS Variables
:root{
    --primary: #ddd;
    --dark: #;
    --light:#fff;
    --shadow:0 1px 5px rgb(104,104,104,0.8);
}
html{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}
body{
    background: #ccc;
    margin: 1.875rem 3.125rem;
    line-height: 1.4;

}
.btn{
    background-color: #333;
    color: #fff;
    padding:0.6rem 1.3rem;
    text-decoration: none;
    border: none;
}
img{
    max-width: 100%;
}
.wrapper{
    display: grid;
    grid-gap: 20px;
}
/* Navigation */
.main-nav ul{
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style:none ;
    grid-template-columns: repeat(4, 1fr);
}
.main-nav a{
    background: #ddd;
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color:#333;
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: 0 1px 5px rgb(104,104,104,0.8);
}

.main-nav a:hover{
    background-color: #333;
    color: #fff;
    transition: ease-in 0.3s;
}
/* Top Container */
.top-container{
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
    'showcase showcase top-box-a'
    'showcase showcase top-box-b';
}

/* Showcase */
.showcase{
    grid-area: showcase;
    min-height: 400px;
    background:url(images/showcase.jpg) ;
    background-size: cover;
    background-position: center;
    padding:3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow:0 1px 5px rgb(104,104,104,0.8) ;
}
.showcase h1{
    font-size: 4rem;
    margin-bottom: 0;
    color: #fff;
}
.showcase p{
    font-size: 1.3rem;
    color: #fff;
    margin-top: 0;   
}
/* Top box */
.top-box{
    background: #ddd;
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow:0 1px 5px rgb(104,104,104,0.8);
    padding: 1.5rem;
}
.top-box .price{
    font-size: 2rem;
}
.top-box-a{
    grid-area:top-box-a;
}
.top-box-b{
    grid-area:top-box-b;
}

/* Boxes */
.boxes{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
}

.box{
    background-color: #ddd;
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: 0 1px 5px rgb(104,104,104,0.8);
}
/* Info section */
.info{
    background-color: #ddd;
    box-shadow: 0 1px 5px rgb(104,104,104,0.8);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
}

/* Portfolio */
.portfolio{
    display: grid;
    grid-gap:20px;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
}

.portfolio img{
    width: 100%;
    box-shadow: 0 1px 5px rgb(104,104,104,0.8);
}

footer{
    margin-top: 2rem;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
    /* media query */

    @media (max-width: 700px){
        .top-container{
            grid-template-areas:
            'showcase showcase'
            'top-box-a top-box-b' ;
        }

        .showcase h1{
            font-size: 2.5rem;
        }
        .main-nav ul{
            grid-template-columns: 1fr;
        }
        
        .info{
            grid-template-columns: 1fr;
    
        }
        .info .btn{
            display: block;
            text-align: center;
            margin: auto;
        }
    
}
@media (max-width: 500px){
    .top-container{
        grid-template-areas:
        'showcase'
        'top-box-a' 
        'top-box-b' ;
    }

    .showcase h1{
        font-size: 2.5rem;
    }
    .main-nav ul{
        grid-template-columns: 1fr;
    }
    
    .info{
        grid-template-columns: 1fr;

    }
    .info .btn{
        display: block;
        text-align: center;
        margin: auto;
    }

}